* {
    list-style: none;
    text-decoration: none;
}

*, *:before, *:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 100%;
    box-sizing: inherit;
    scroll-behavior: smooth;
}

body {
    font-family: 'Work Sans', 'Segoe UI', system-ui, Geneva, Verdana, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    min-height: 100vh;
    min-width: 20rem;
    overflow-x: hidden;
    color: #222;
}

a {
    color: inherit;
    cursor: pointer;
    user-select: none;
    text-decoration: none;

    &:hover {
        text-decoration: none;
    }
}

p {
    line-height: clamp(1.1rem, 1.3rem, 1.8rem);
}

.container {
    width: clamp(20rem, 90vw, 80vw);
    margin: 0 auto;
}

.app {
    display: grid;
    grid-template-rows: min-content 1fr min-content;
}

.header {
    background-color: #222;
    color: #e8e8e8;

    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .logo {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: .5rem;

        img {
            width: 2rem;
            height: 2rem;
        }

        span {
            font-size: 1.5rem;
            font-weight: 700;
        }
    }

    .navbar {
        display: flex;

        a {
            padding: 1rem;

            &:hover {
                background-color: #f00;
            }
        }
    }
}

.footer {
    background-color: #222;
    color: #e8e8e8;

    .container {
        padding: 1rem 0;
    }
}

@media only screen and (min-width: 1024px) {
    .header .container .icon-mobile {
        display: none;
    }

    .header .container .navbar {
        display: flex;
    }
}